<div class="row">
    <div class="col-xs-12">
        <app-product-search></app-product-search>
        <app-product-filter (productsChange)="updateProducts($event)"></app-product-filter>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 row product-items">
        <app-product-item *ngFor="let product of products" [product]="product"></app-product-item>
    </div>
    <div class="col-xs-12 text-right">
        <nav>
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                    <a class="page-link" (click)="setPage(1)"><i class="fa fa-fast-backward" aria-hidden="true"></i></a>
                </li>
                <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                    <a class="page-link" (click)="setPage(pager.currentPage - 1)"><i class="fa fa-step-backward" aria-hidden="true"></i></a>
                </li>
                <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a class="page-link" (click)="setPage(page)">{{page}}</a>
                </li>
                <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a class="page-link" (click)="setPage(pager.currentPage + 1)"><i class="fa fa-step-forward" aria-hidden="true"></i></a>
                </li>
                <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a class="page-link" (click)="setPage(pager.totalPages)"><i class="fa fa-fast-forward" aria-hidden="true"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</div>