.product-item {
    padding: 20px;
    border-radius: 3px;
    cursor: pointer;
}

.product-item:hover {
    box-shadow: -2px 2px 3px #337ab7;
}

.product-item img {
    padding: 10px;
    height: 180px;
    width: 150px;
}

.green {
    color: green;
}

.red {
    color: red;
}
