<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="">Wear XYZ</a>
        </div>
        <div class="navbar-default">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <ng-template [ngIf]="!authService.isAuthenticated()">
                    <li class="pointer" (click)="showCart()"><a><i class="fa fa-shopping-cart" aria-hidden="true"></i> Your cart</a></li>
                    <li routerLinkActive="active"><a routerLink="auth/signup">Register</a></li>
                    <li routerLinkActive="active"><a routerLink="auth/signin">Login</a></li>
                </ng-template>
                <ng-template [ngIf]="authService.isAuthenticated()">
                    <li class="pointer" (click)="showCart()"><a><i class="fa fa-shopping-cart" aria-hidden="true"></i> Your cart</a></li>
                    <li routerLinkActive="active"><a routerLink="auth/profile">Profile</a></li>
                    <li><a style="cursor: pointer;" (click)="authService.signout()">Logout</a></li>
                </ng-template>
            </ul>
        </div>
    </div>
</div>
<div *ngIf="isShowingCart" class="cart container">
  <div class="row">
    <button class="close-button" (click)="closeCart()">x</button>
    <div class="col-xs-6">
        <div class="text-right">
          <div *ngFor="let product of productsInCart">
            <h5 class="product-cart"><b>{{product.product.name}}</b>({{product.product.category}}): <b>{{product.quantity_in_cart}}</b></h5>
            <button class="remove-button" (click)="deleteFromCart(product.product._id)">-</button>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="text-left">
          <h5>Total amount:</h5>
          <h4><b>{{numberWithDots(totalAmount)}}đ</b></h4>
        </div>
        <button type="button" class="btn btn-info" (click)="showCheckoutForm()">Checkout cart</button>
        <button type="button" class="btn btn-danger" (click)="resetCart()">Reset cart</button>
      </div>
      <div class="checkout-form">
        <form *ngIf="isShowingForm" (ngSubmit)="onCheckout(f)" #f="ngForm">
          <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" name="email" ngModel class="form-control">
          </div>
          <div class="form-group">
              <label for="address">Address</label>
              <input type="text" id="address" name="address" ngModel class="form-control">
          </div>
          <div class="form-group">
              <label for="phone_number">Phone number</label>
              <input type="text" id="phone_number" name="phone_number" ngModel class="form-control">
          </div>
          <button class="btn btn-primary pull-right" type="submit">Process</button>
        </form>
      </div>
  </div>
</div>
<div *ngIf="loading" class="loader-background">
    <div class="loader"></div>
</div>
