button:focus {outline:0;}

.blue {
  color: #20a8d8;
}

.red {
  color: red;
}

.mb-3 {
  margin-bottom: 3rem;
}

.pointer {
  cursor: pointer;
}

.call-to-action {
  margin-top: 10px;
  min-width: 120px;
  padding: 5px 10px;
  background-color: #20a8d8;
  color: white;
  opacity: 0.8;
}

.call-to-action:hover {
  opacity: 1;
}

.cart {
  position: fixed !important;
  top: 50px;
  width: 100%;
  padding: 15px 30px;
  z-index: 10;
  background-color: white;
  border-bottom: 1px solid #DDD;
}

.close-button {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #DDD;
  opacity: 0.8;
  z-index: 10;
}

.remove-button {
  cursor: pointer;
  display: inline-block;
  background-color: #DDD;
  opacity: 0.8;
}

.product-cart {
  display: inline-block;
}

.close-button:hover {
  opacity: 1;
}

.loader-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #555;
  opacity: 0.7;
  text-align: center;
  z-index: 100;
}

.loader {
  margin-top: 45vh;
  margin-left: 45vh;
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  z-index: 105;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
